<main class="container form-signin">
    <h3 class="m-5">Add Customer</h3>
    <div class="card m-5">
        <form class="needs-validation p-5" #cForm="ngForm" (ngSubmit)="onSubmit(cForm)">

            <div class="mb-3">
                <label for="order">Order No</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="order" placeholder="eg. 46566SSFD144HJK" required ngModel>
                </div>
            </div>

            <div class="mb-3">
            <label for="username">Name</label>
            <div class="input-group">
                <input type="text" class="form-control" id="username" placeholder="eg. Samon" required ngModel>
            </div>
            </div>

            <div class="mb-3">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" placeholder="eg. 018193743978" required ngModel>
            </div>

            <div class="mb-3">
            <label for="address">Address</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="eg. Wari, Dhaka - 1000" required ngModel></textarea>
            </div>
        
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary" type="submit">Add Customer</button>
            </div>
           
        </form>
    </div>
</main>  
