
<main class="container">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mb-3 mx-auto" >
        <div class="container-fluid" >
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary" type="submit">Search</button>
          </form>
        </div>
     </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3">

      <div class="col" *ngFor="let customer of customer">
        <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h5 class="my-0 p-1">#{{ customer.order }}</h5>
        </div>
        <div class="card-body">
          <h4 class="card-title pricing-card-title">{{ customer.name }}</h4>
          <ul class="list-unstyled mt-3 mb-4">
            <li><b>Phone : </b>{{ customer.phone }}</li>
            <li><b>Address : </b>{{ customer.address }}</li>         
          </ul>
        </div>
      </div>
      </div>
      
    </div>
  </main>