.container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  justify-content: end  !important;
  width: 40%;
}

@media only screen and (max-width: 600px) { 
    .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        width: 100%;
      }
}

